
@use "variables";

.projects {
  padding: 32px 0;
  background-color: #F7FBFF;
}

.projects__container {
  display: flex;
  opacity: 0.5;
  transition: all .3s ease;

  &[data-active=true] {
    opacity: 1;
    border: 1px solid #000;
    border-radius: 8px;
    width: 100%;

    @media (max-width: 479px) {
      border: 0;
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
  }
}

.cards__list {
  display: flex;
  list-style: none;
  padding-left: 0;
  width: 75%;
  overflow: hidden;
  margin: 0 auto;
  @media (max-width: 767px) {
    margin: 0;
    width: auto;
  }
}

.cart__container {
  height: 400px;
  overflow: hidden;
  cursor: pointer;

  @media (max-width: 1279px) {
    height: 320px;
  }

  @media (max-width: 479px) {
    height: 400px;
  }
}

.cards__card {
  border-radius: 2px;
  padding: 32px 8px 8px 24px;
  position: relative;

  @media (max-width: 767px) {
    flex: 1 0 auto;
    max-width: none;
    padding: 16px 0;
  }

  header {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
  }
}

.cards__title {
  padding-bottom: 8px;
  color: variables.$primary-color;
}

.cards__subtitle {
  color: #717286;
  text-transform: uppercase;
  padding-bottom: 0;
}

.cards__tags {
  display: flex;
  padding-left: 0;
  padding-bottom: 16px;
}

.cards__tag {
  background-color: #ad1035;
  display: inline-flex;
  border-radius: 4px;
  color: variables.$secondary-color;
  padding: 4px 8px;
  text-transform: uppercase;
  font-family: variables.$heading-font;
  font-size: 12px;

  &:not(:last-child) {
    margin-right: 4px;
  }
}

.card__description {
  padding-bottom: 16px;
}

.card__btn_wrapper {
  display: flex;
  align-items: center;
}

.card__button {
  display: flex;
  background-color: variables.$primary-color;
  height: 40px;
  align-items: center;
  &, a {
    color: variables.$secondary-color;
    font-family: variables.$heading-font;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s ease;
  }
  border: 0;
  padding: 8px 16px;
  border: 2px solid transparent;

  &[disabled] {
    pointer-events: none;
    opacity: .5;
  }

  &:hover,
  &:focus {
    &, a {
      color: variables.$primary-color;
    }
    border: 2px solid variables.$primary-color;
    background-color: transparent
  }
}

.git__btn {
  display: flex;
  margin-left: 8px;
  align-items: center;
  justify-content: center;

  &:hover {
    svg path {
      opacity: .5;
    }
  }

  svg {
    width: 36px;
    height: 36px;
    path {
      transition: all .3s ease;
      fill: variables.$primary-color;
    }
  }
}

// Carousel
.carousel_button_wrapper {
  padding: 32px 8px 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  div:first-child {
    padding-bottom: 16px;
  }
}

.carousel_button {
  background-color: transparent;
  border-radius: 100px;
  border: 2px solid #000;
  width: 40px;
  height: 40px;
  transition: all .3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  svg {
    stroke: #000;
  }

  &:hover {
    background-color: black;
    svg {
      stroke: #fff;
    }
  }

  &:last-child {
    margin-left: 16px;
  }
}