
@use "variables";

.projects {
  padding: 32px 0;
  background-color: #F7FBFF;
}

.projects__container {
  display: flex;
  flex: 1 0 50%;
  max-width: 50%;

  @media (max-width: 1279px) {
    flex: 1 0 100%;
    max-width: 100%;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
  }
}

.cards__list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;

  @media (max-width: 1279px) {
    flex-direction: column;
  }
}

.cart__container {
  flex: 1 0 50%;
  max-width: 50%;
  height: 400px;

  @media (max-width: 1279px) {
    height: 320px;
  }

  @media (max-width: 767px) {
    height: 240px;
    flex: 1 0 auto;
    max-width: 100%;
  }
}

.cards__card {
  border-radius: 2px;
  padding: 32px 8px 8px 24px;
  position: relative;
  flex: 1 0 45%;
  max-width: 45%;

  @media (max-width: 767px) {
    flex: 1 0 auto;
    max-width: none;
    padding: 16px 0;
  }

  header {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
  }
}

.cards__title {
  padding-bottom: 8px;
  color: variables.$primary-color;
}

.cards__subtitle {
  color: #717286;
  text-transform: uppercase;
  padding-bottom: 0;
}

.cards__tags {
  display: flex;
  padding-left: 0;
  padding-bottom: 16px;
}

.cards__tag {
  background-color: #ad1035;
  display: inline-flex;
  border-radius: 4px;
  color: variables.$secondary-color;
  padding: 4px 8px;
  text-transform: uppercase;
  font-family: variables.$heading-font;
  font-size: 12px;

  &:not(:last-child) {
    margin-right: 4px;
  }
}

.card__description {
  padding-bottom: 16px;
}

.card__button {
  display: flex;
  background-color: variables.$primary-color;
  &, a {
    color: variables.$secondary-color;
    font-family: variables.$heading-font;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s ease;
  }
  border: 0;
  padding: 8px 16px;
  border: 2px solid transparent;

  &[disabled] {
    pointer-events: none;
    opacity: .5;
  }

  &:hover,
  &:focus {
    &, a {
      color: variables.$primary-color;
    }
    border: 2px solid variables.$primary-color;
    background-color: transparent
  }
}
